<div id="eventslist">
	<div class="row">
		<% @events.each do |event| %>
		
		<div class="col-md-4">
			<div class="event-pic-wrapper">
				<%= link_to image_tag(event.picture, :size => '300x200'), event_path(event) %>
				<div id="events-event-label"><%= event.title %></div>
			</div>
		</div>
		<% end %>
	</div>
</div>	