.events-content {
	background-color: #eeeeee;
}

#events-shovel-pic {
	background-image: url("shovel.jpg");
	background-size: cover;
	height: 400px;
	width: 100%;
}

#success-stories-header {
	font-family: 'Lato';
	font-size: 60px;
	text-align: center;
	float: center;
	color: white;
}

#events-success-pic {
	background-image: url("peoplecheering.jpg");
	background-size: cover;
	height: 400px;
	width: 100%;

	h1 {
		font-family: 'Lato';
		font-weight: lighter;
		font-size: 100px;
		margin-left: 22%;
		margin-top: 15%;
		text-align: center;
		float: center;
		color: white;
		position: absolute;
		z-index: 20;
		background-color: rgba(0,0,0, 0.5);
	}
}

#search-label {
	font-family: 'Lato';
	font-weight: lighter;
	font-size: 22px;
	margin-left: 10px;	
	margin-top: 25px;
	margin-bottom: 5px;
	color: white;
}

#searchicon {
	padding-left: 5px;
}

.events-searchbar {
	margin-left: 150px;
	margin-right: 157px;
	margin-bottom: 40px;
	background-color: #4682fc;
	box-shadow: 5px 5px 20px black;
}

.event-pic-wrapper {
	background-color: white;
	border: black;
	box-shadow: 3px 3px 20px black;
	width: 300px;
	height: 250px;
}

.col-md-4 {
	text-align: center;
	margin-bottom: 40px;

}

#events-event-label {
  font-family: 'Lato';
  font-weight: normal;
  font-size: 22px;
  margin-top: 5px;
}

#eventslist {
	margin-right: 150px;
	margin-left: 150px;
}

#q {
	height: 40px;
	width: 450px;
	margin-left: 10px;
	margin-bottom: 17px;
	box-shadow: 2px 2px 5px black;
}