
body, html {
	background-color: white;
	height: 100%;
}

/****************************
	LANDING/HOME DIV
****************************/

#home {
	height: 700px;
	background-image: url("homepage.jpg");
	background-size: cover;
	margin-left: -1.2%;
}

.nav-wrapper {
	width: 1295px;
}

.dropdown {
	text-align: right;
	font-family: 'Lato';
	font-weight: lighter;
	font-size: 20px;
	margin-right: 40px;
	margin-top: 25px;
}

.navbar.navbar-default.navbar-fixed-top {
	background-color: white;
	height: 80px;
	width: 100%;

	ul {

		list-style-type: none;

		.navbar-right {
			background-color: white;
			position: fixed;
			height: 50px;
		}

		.navbar-left {

		}

		li.active {
			float: right;
			font-family: 'Lato';
			font-weight: lighter;
			font-size: 20px;
			text-align: center;

			&#signup {
				margin-right: 50px;
				margin-top: 20px;
			}

			&#login {
				margin-right: 50px;
				margin-top: 20px;
			}

			#findeventbutton {
				margin-top: 15px;
				margin-bottom: 14px;
			}

			#createeventbutton {
				margin-top: 15px;
				margin-bottom: 14px;
			}

			#logo {
				margin-top: -1px;
				margin-right: 20px;
			}

		}

		a {
			display: block;
			text-decoration: none;
			color: black;
			background-color: white;

			&:hover {
				color: white;
				background-color: #dddddd;
			}
		}
	}
}

#seeforyourself {
	margin-top: 34%;
	margin-left: 39.5%;
}

/****************************
		ABOUT DIV
****************************/

#about {
	height: 800px;
}

#backgroundcolor {
	background-color: #eeeeee;
	padding: 10px;
	padding-bottom: 100px;
	margin-left: -12px;
}

.mission-statement {
	text-align: center;
	font-family: 'Goudy Bookletter 1911';
	font-size: 42px;
	color: #313131;
	margin-top: 80px;
	margin-bottom: 80px;
	padding-right: 100px;
	padding-left: 100px;
}

.col-md-4 {


	.fp-about-icons {
		margin-left: 130px;
		margin-bottom: 50px;
		text-align: left;

		#houseicon {
			margin-top: -10px;

		}
	}

	.fp-about-headers {
		padding-left: 80px;
		font-family: 'Lato';
		font-weight: bolder;
		text-align: left;
	}

	p {
		font-family: 'Lato';
		font-size: 18px;
		color: #313131;
		font-weight: lighter;
		letter-spacing: 1px;
		padding-left: 80px;
		padding-right: 50px;
		text-align: left;
	}

	
}

/****************************
		SIGN-UP DIV
****************************/


/*#signup {
	height: 400px;
}*/




