#signuppage {
	background-image: url(signupimage.jpg);
	background-size: cover;
	padding-bottom: 150px;

}

#su-page-header {
	margin-top: 80px;
	padding-top: 40px;
	text-align: center;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 30px;
	color: black;
	background-color: rgba(255,255,255, 0.5);
	margin-right: 500px;
	margin-left: 500px;
}

.su-field-labels {
	font-family: 'Lato';
	text-align: left;
	padding-left: 45px;

}

#signupform {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px 20px;
	font-family: 'Lato';
	margin-right: 500px;
	margin-left: 500px;
}












#signinpage {
	background-image: url(signupimage.jpg);
	background-size: cover;
	padding-bottom: 400px;

}

#si-page-header {
	margin-top: 80px;
	padding-top: 40px;
	text-align: center;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 30px;
	color: black;
	background-color: rgba(255,255,255, 0.5);
	margin-right: 500px;
	margin-left: 500px;
}

.si-field-labels {
	font-family: 'Lato';
	text-align: left;
	padding-left: 45px;

}

#signinform {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px 20px;
	font-family: 'Lato';
	margin-right: 500px;
	margin-left: 500px;
}

